dash
Flask
requests
beautifulsoup4
lxml
pytz
MarkupSafe
Werkzeug
Jinja2
click
itsdangerous
numpy
setuptools
cffi
scipy
matplotlib
joblib
psutil
pandas
python-dateutil
plotly
tenacity
ipywidgets
traitlets
certifi
scikit-learn
threadpoolctl
Pillow
six
gunicorn
tornado
idna
urllib3
multitasking
Brotli
zipp
yfinance
tweepy