.banner{
    height: 75px;
    margin: 0px -10px 10px;
    background-color: rgb(66, 196, 247);
    border-radius: 2px;

}
.banner1{
    height: 50px;
    margin: 0px -10px 10px;
    background-color: rgb(20, 18, 135);
    border-radius: 2px;

}

.banner2{
    height: 35px;
    margin: 0px -10px 10px;
    background-color: rgb(169, 169, 169);
    border-radius: 2px;

}

link {
    color: white;
}
h2, h2:link {
  color: white;
  font-size: 20px;

}

h1 {
    color: white;
    font-size: 45px;
    margin: 5px 10px 10px;
}

h3 {
    display: block;
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin: 5px 10px 10px;
}